---
env:
  global:
    - secure: ! 'PBjr3GgU1sHC4yD4Fj0k5nMaX1+li8fw2WHVXR/crDDsgLLV+AgnfWvFCCJXnfvs7ikHG/OfP3IvrTsip6bhIybpfvzI/B3YqPuUgEtfds2mbo2iZVofdaedlTAB5R0wOeQRL5wmQdRNMetaBErhh87biZBX2HW3BLnm85dtH0c='
  matrix:
    - CONNECTOR=redis
    - CONNECTOR=amqp

services:
  - rabbitmq
  - redis-server

language: php

before_script:
  - mkdir -p ~/.composer
  - printf '{"config":{"github-oauth":{"github.com":"%s"}}}' $GITHUB_OAUTH_TOKEN > ~/.composer/config.json
  - sudo pip install celery
  - if [ "$CONNECTOR" = "amqp" ]; then echo "extension = amqp.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi
  - if [ "$CONNECTOR" = "amqp" ]; then sudo rabbitmqctl add_vhost celery; fi
  - if [ "$CONNECTOR" = "amqp" ]; then sudo rabbitmqctl set_permissions -p celery guest ".*" ".*"  ".*"; fi
  - if [ "$CONNECTOR" = "amqp" ]; then composer require zircote/amqp:* ; fi
  - if [ "$CONNECTOR" = "amqp" ]; then (celery -A phpamqp worker --workdir=$(pwd)/tests/celery/tasks/ > /dev/null 2>&1 &); fi 
  - if [ "$CONNECTOR" = "redis" ]; then composer require predis/predis:*; fi
  - if [ "$CONNECTOR" = "redis" ]; then sudo pip install celery-with-redis; fi
  - if [ "$CONNECTOR" = "redis" ]; then (celery -A predis worker --workdir=$(pwd)/tests/celery/tasks/ > /dev/null 2>&1 &); fi
  - composer install
  - sleep 3

php:
  - 5.3
  - 5.4
  - 5.5

script: phpunit tests
